html {
  font-family: 'Oswald';
}

.navbar {
  position: fixed;
  right: .5%;
  background: rgba(19, 60, 90, .9);
  margin-right: -12px;
}
.name {
  text-align: left;
  float: left;
  font-size: 22px;
  font-family: 'Oswald';
  color: white;
  margin-top: 14px;
  margin-left: 3px;
  margin-bottom: 70px;
}
.name span {
  color: #FFC400;
}
 nav ul {
  color: white;
  padding: 10px 6px 10px 5px;
  width: 105px;
  height: 1500px;
  text-align: left;
}
nav li {
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-family: 'Oswald';
  font-weight: 300;
  margin: 10px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color:  #FFC400;
}
nav ul hr {
  border: 1px solid white;
  width: 60%;
  float: left;
}
nav ul .icons {
  margin-top: 40%;
}
nav ul .icons li a {
  display: flex;
}
.header {
  color: white;
  text-align: left;
}
.connect img {
 height: 21px;
 width: 21px;
}
.header h1 {
  font-size: 65px;
  font-weight: bold;
  padding: 0 15px;
  margin: 250px 10px 0;
  letter-spacing: 2px;
}
.header h1 span {
  color: #FFC400;
}
.header p {
  font-weight: bold;
  font-size: 38px;
  padding: 0 65px;
  letter-spacing: 2px;
}

.picme {
  padding-top: 10px;
  margin: -20px;
  height: 600px;
  background: -webkit-linear-gradient(rgba(52, 73, 94, 0.8), rgba(52, 73, 94, 0.8)), url("https://scontent-lga3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/403552_10151844769060246_789987329_n.jpg?oh=3c099074dcb31d34a2f8428c3a3195c2&oe=568472D3") no-repeat, center, fixed;
  background: linear-gradient(rgba(50, 150, 160, 0.8), rgba(50, 136, 188, 0.8)), url("https://scontent-lga3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/403552_10151844769060246_789987329_n.jpg?oh=3c099074dcb31d34a2f8428c3a3195c2&oe=568472D3") no-repeat fixed;
  background-size: cover;
}

.About {
  background: white;
  height: 20%;
}

.Bio {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  text-align: center;
  font-family: 'Oswald' sans-serif;
}

hr {
  width: 90px;
  border: .13em solid  rgba(19, 60, 90, .9);
}

.Bio h2 {
  font-size: 2.5em;
  color: #455A64;
}

.Bio p {
  text-align: left;
  font-size: 1.4em;
  color: #455A64;
  font-family: 'Oswald';
  font-weight: 300;
}
.Bio p span {
  color: #FFC400;
}
.Skills {
  height: 20%;
   color: #455A64;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.coding h2 {
  font-size: 2.5em;
  text-align: center;
}
.coding p {
  font-family: 'Oswald';
  font-weight: 300;
   text-align: left;
  font-size: 1.4em;
}
.coding p span {
color:  #FFC400;
}
.projects {
  color: #455A64;
  clear: both;
}

.projects h2 {
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  font-size: 2.5em;
}

.projects p {
  max-width: 70%;
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.work {
  text-align: center;
}

.projects img {
  width: 44%;
  padding: 10px 20px;
  margin-top: 14px;
}
.blog {
  text-align: center;
}
.blog h2 {
    font-size: 2.5em;
}
.blog .posts h3 {
  font-size: 1.1em;
}
.blog .posts h3 a {
  text-decoration: none;
  color: #FFC400;
}
.blog .posts h3 a:hover {
  color: #455A64;
}
.blog .post_wrapper p {
  font-size: .9em;
}
.post_wrapper hr {
  width: 2%;
}
.why {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
  font-family: 'Oswald';
  font-weight: 300;
  text-align: left;
}
 .why i {
  color: red;
}
.contact-wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.contact-wrapper p {
  text-align: left;
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 1.4em;
}
.contact-wrapper h2 {
    font-size: 2.5em;
}
.button {
 text-align: center;
}
.contact-wrapper button {
  margin-right: auto;
  margin-left: auto;
  font-family: 'Oswald';
  font-weight: bold;
  font-size: 1.4em;
  background-color: #455A64;
  color: white;
  border: 5px solid #FFC400;
  border-radius: 4px;
margin-bottom: 5px;
  padding: 5px 20px;
  letter-spacing: 4px;
}
.tm {
 margin-left: -30%;
}
